@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn-small-fill {
  background-color: #00B207;
  padding: 10px 24px;
  font: 600 12px Poppins;
  color: #FFFFFF;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-small-fill:hover {
  background-color: #2C742F;
}

.btn-small-border {
  background-color: transparent;
  padding: 10px 24px;
  font: 600 12px Poppins;
  color: #00B207;
  border: 2px solid #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-small-border:hover {
  color: #2C742F;
  border: 2px solid #2C742F;
}

.btn-small-ghost {
  background-color: rgba(0, 178, 7, 0.1803921569);
  padding: 10px 24px;
  font: 600 12px Poppins;
  color: #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-small-ghost:hover {
  color: #2C742F;
  background-color: rgba(0, 178, 7, 0.4196078431);
}

.btn-medium-fill {
  background-color: #00B207;
  padding: 14px 32px;
  font: 600 14px Poppins;
  color: #FFFFFF;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-medium-fill:hover {
  background-color: #2C742F;
}

.btn-medium-border {
  background-color: transparent;
  padding: 10px 24px;
  font: 600 14px Poppins;
  color: #00B207;
  border: 2px solid #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-medium-border:hover {
  color: #2C742F;
  border: 2px solid #2C742F;
}

.btn-medium-ghost {
  background-color: rgba(0, 178, 7, 0.1803921569);
  padding: 10px 24px;
  font: 600 14px Poppins;
  color: #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-medium-ghost:hover {
  color: #2C742F;
  background-color: rgba(0, 178, 7, 0.4196078431);
}

.btn-large-fill {
  background-color: #00B207;
  padding: 16px 40px;
  font: 600 16px Poppins;
  color: #FFFFFF;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-large-fill:hover {
  background-color: #2C742F;
}

.btn-large-border {
  background-color: transparent;
  padding: 16px 40px;
  font: 600 16px Poppins;
  color: #00B207;
  border: 2px solid #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-large-border:hover {
  color: #2C742F;
  border: 2px solid #2C742F;
}

.btn-large-ghost {
  background-color: rgba(0, 178, 7, 0.1803921569);
  padding: 16px 40px;
  font: 600 16px Poppins;
  color: #00B207;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-large-ghost:hover {
  color: #2C742F;
  background-color: rgba(0, 178, 7, 0.4196078431);
}

.btn-icon-small {
  background-color: #00B207;
  color: #FFFFFF;
  padding: 10px 24px;
  font: 600 12px Poppins;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-icon-small img {
  width: 16px;
  margin: 0 0 0 10px;
  height: 17px;
}
.btn-icon-small:hover {
  background-color: #2C742F;
}

.btn-icon-medium {
  background-color: #00B207;
  color: #FFFFFF;
  padding: 14px 32px;
  font: 600 14px Poppins;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-icon-medium img {
  width: 23px;
  margin: 0 0 0 10px;
  height: 21px;
}
.btn-icon-medium:hover {
  background-color: #2C742F;
}

.btn-icon-large {
  background-color: #00B207;
  color: #FFFFFF;
  padding: 16px 40px;
  font: 600 16px Poppins;
  border-radius: 43px;
  transition: 0.3s ease-in-out;
}
.btn-icon-large img {
  width: 27px;
  margin: 0 0 0 10px;
  height: 25px;
}
.btn-icon-large:hover {
  background-color: #2C742F;
}

body {
  padding: 40px;
}/*# sourceMappingURL=main.css.map */