@import '../variables/variables.scss';


// ============ Main buttons ==============

// ------- Small buttons -------
%btnSmallFill {
	background-color: $primaryColor;
	padding: 10px 24px;
	font: 600 12px $font-family;
	color: $whiteColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

%btnSmallBorder {
	background-color: transparent;
	padding: 10px 24px;
	font: 600 12px $font-family;
	color: $primaryColor;
	border: 2px solid $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		border: 2px solid $hardPrimaryColor;
	}
}

%btnSmallGhost {
	background-color: #00b2072e;
	padding: 10px 24px;
	font: 600 12px $font-family;
	color: $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		background-color: #00b2076b;

	}
}


// ------- Medium buttons -------
%btnMediumFill {
	background-color: $primaryColor;
	padding: 14px 32px;
	font: 600 14px $font-family;
	color: $whiteColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

%btnMediumBorder {
	background-color: transparent;
	padding: 10px 24px;
	font: 600 14px $font-family;
	color: $primaryColor;
	border: 2px solid $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		border: 2px solid $hardPrimaryColor;
	}
}

%btnMediumGhost {
	background-color: #00b2072e;
	padding: 10px 24px;
	font: 600 14px $font-family;
	color: $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		background-color: #00b2076b;

	}
}


// ------- Large buttons -------
%btnLargeFill {
	background-color: $primaryColor;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $whiteColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

%btnLargeBorder {
	background-color: transparent;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $primaryColor;
	border: 2px solid $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		border: 2px solid $hardPrimaryColor;
	}
}

%btnLargeGhost {
	background-color: #00b2072e;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		background-color: #00b2076b;

	}
}

// ============ Icon buttons ==============
%btnIconSmall {
	background-color: $primaryColor;
	color: $whiteColor;
	padding: 10px 24px;
	font: 600 12px $font-family;
	border-radius: 43px;
	transition: .3s ease-in-out;

	& img {
		width: 16px;
		margin: 0 0 0 10px;
		height: 17px;
	}

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

%btnIconMedium {
	background-color: $primaryColor;
	color: $whiteColor;
	padding: 14px 32px;
	font: 600 14px $font-family;
	border-radius: 43px;
	transition: .3s ease-in-out;

	& img {
		width: 23px;
		margin: 0 0 0 10px;
		height: 21px;
	}

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

%btnIconLarge {
	background-color: $primaryColor;
	color: $whiteColor;
	padding: 16px 40px;
	font: 600 16px $font-family;
	border-radius: 43px;
	transition: .3s ease-in-out;

	& img {
		width: 27px;
		margin: 0 0 0 10px;
		height: 25px;
	}

	&:hover {
		background-color: $hardPrimaryColor;
	}
}