@import '../../../css/variables/variables.scss';

.callPhoneSmall {
	width: max-content;
	font-family: $font-family;
	margin: 0 0 0 35px;

	a {
		position: relative;
		font-size: 20px;
		font-weight: 500;
		color: #000000;

		img {
			position: absolute;
			top: -1px;
			left: -35px;
			width: 28px;
			height: 28px;
			// filter: brightness(0) invert(1);
		}
	}
}


@media (max-width: 1100px) {
	.callPhoneSmall {
		margin: 0;

		a {
			font-size: 0;

			img {
				position: relative;
				top: 0;
				left: 0;
				width: 35px;
				height: 35px;
			}
		}
	}
}