@import '../../css/variables/variables.scss';

:root {
	--star-size: 16px;
	--star-color: #fff;
}

.Stars {
	--percent: calc(var(--rating) / 5 * 100%);

	display: inline-block;
	font-size: var(--star-size);
	font-family: $font-family; // make sure ★ appears correctly
	line-height: 1;

	&::before {
		content: '★★★★★';
		letter-spacing: 3px;
		background: linear-gradient(90deg, $starRatingColor var(--percent), var(--star-color) var(--percent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}