@import '../../css/variables/variables.scss';


.btnLargeFill {
	background-color: $primaryColor;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $whiteColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		background-color: $hardPrimaryColor;
	}
}

.btnLargeBorder {
	background-color: transparent;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $primaryColor;
	border: 2px solid $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		border: 2px solid $hardPrimaryColor;
	}
}

.btnLargeGhost {
	background-color: #00b2072e;
	padding: 16px 40px;
	font: 600 16px $font-family;
	color: $primaryColor;
	border-radius: 43px;
	transition: .3s ease-in-out;

	&:hover {
		color: $hardPrimaryColor;
		background-color: #00b2076b;

	}
}