@import '../../../css/variables/variables.scss';


.cartAmount {
	display: block;

	span {
		font: 400 11px $font-family;
		color: $inputGrey;
	}

	p {
		font: 500 14px $font-family;
		color: #000000;
	}
}

@media (max-width:960px) {
	.cartAmount {
		display: none;
	}
}