<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Draft page</title>
</head>

<body>

	<div class="search">
		<img src="assets/icons/search.svg" alt="search icon">
		<input type="text" id="search">
		<button>search</button>
	</div>

	<!-- <header>
		<div class="headerTopBar">
			<div class="headerTopBarLocation">
				<img src="assets/icons/header/location.svg" alt="location icon">
				<p>Store Location: Lincoln- 344, Illinois, Chicago, USA</p>
			</div>
			<div class="headerTopBarLogin">
				<div class="headerTopBarLoginCurrency">
					<select id="langSelect">
						<option value="eng">Eng</option>
						<option value="gre">Gre</option>
						<option value="jap">Jap</option>
					</select>
					<select id="currSelect">
						<option value="usd">USD</option>
						<option value="eur">EUR</option>
						<option value="yen">YEN</option>
					</select>
				</div>
				<div class="headerTopBarLoginButtons">
					<button id="headerTopBarSignIn">Sign In</button>
					/
					<button id="headerTopBarSignUp">Sign Up</button>
				</div>

			</div>
		</div>
		<div class="headerMiddleBar">
			<div class="headerMiddleBarLogo">
				<img src="../public/assets/icons/header/logo.svg" alt="logo icon">
				<h1>Ecobazar</h1>
			</div>
			<div class="headerMiddleBarSearch">
				<input type="text">
			</div>
			.
		</div>
	</header> -->

</body>

</html>