<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Draft page</title>
</head>

<body>

	<script>
		const test = () => {
			console.log('work');

		}


		const emailInput = document.getElementById('emailInput');

		emailInput.addEventListener('blur', function () {
			if (validateEmail(emailInput.value)) {
				emailInput.classList.remove('invalid-input');
				emailInput.classList.add('valid-input');
			} else {
				emailInput.classList.remove('valid-input');
				emailInput.classList.add('invalid-input');
			}
		});

		function validateEmail(email) {
			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			return emailRegex.test(email);
		}
	</script>

	<style>
		.valid-input {
			border: 3px solid rgb(10, 124, 230);
		}

		.invalid-input {
			border: 3px solid red;
		}
	</style>

	<input type="email" id="emailInput" required onblur=test()>
	<button type="submit">Отправить</button>



</body>

</html>