<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Draft page</title>
</head>

<body>

	<div id="timer">
	</div>


	<script>
		let timerSeconds = 12;
		let timerMinutes = 43;
		let timerHours = 4;
		let timerDays = 1;
		// Получение элемента, где будет отображаться таймер
		let timerElement = document.getElementById('timer');


		const formatTimerValue = (value) => {
			return value < 10 ? '0' + value : value;
		};

		// Запуск таймера
		setInterval(updateTimer, 1000);

		// Функция обновления таймера
		function updateTimer() {
			// Уменьшение секунд
			timerSeconds--;

			if (timerSeconds < 0) {
				timerSeconds = 59;
				timerMinutes--;

				if (timerMinutes < 0) {
					timerMinutes = 59;
					timerHours--;

					if (timerHours < 0) {
						timerHours = 23;
						timerDays--;

						if (timerDays < 0) {
							// Таймер закончился
							timerDays = 0;
							timerHours = 0;
							timerMinutes = 0;
							timerSeconds = 0;
						}
					}
				}
			}

			// Обновление отображения таймера
			timerElement.textContent = formatTimerValue(timerDays) + ' : ' +
				formatTimerValue(timerHours) + ' : ' +
				formatTimerValue(timerMinutes) + ' : ' +
				formatTimerValue(timerSeconds);

		}
	</script>
</body>

</html>