@import '../css/variables/variables.scss';


// ============ Timer styles =================
.timerContainer {
	display: flex;
	justify-content: center;
	gap: 10px;

	div {
		max-width: 60px;
		width: 100%;
		min-height: 37px;
		text-align: center;

		p {
			font: 500 18px $font-family;
		}

		span {
			font: 500 10px $font-family;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $secondGreyColor;
		}
	}

	colon {
		font: 400 20px $font-family;
		color: $secondGreyColor;
	}
}

// ==============================================
.card {
	max-width: 528px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;
	border: 1px solid $greyColor;
	font-family: $font-family;
	border-radius: 6px;
	transition: .3s ease-in-out;

	box-shadow: 0px 0px 3px 1px rgba(131, 131, 131, 0.75);

	position: relative;

	&:hover {
		border: 1px solid $hardPrimaryColor;
		box-shadow: 1px 1px 8px 0px $hardPrimaryColor;

		.content {
			h2 {
				border: none;
				color: $primaryColor;
			}
		}
	}
}

// ============ Labels =============
.labelWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 185px;
	width: 100%;

	position: absolute;
	top: 24px;
	left: 24px;
}

.label {
	padding: 3px 8px;
	width: max-content;
	border-radius: 8px;
	color: $whiteColor;
	font: 400 14px $font-family;
	cursor: default;
}

.sale {
	background-color: $saleColor;

}

.newItem {
	background-color: $newItemColor;
}

.bestSeller {
	background-color: $bestSaleColor;
}


.outOfStock {
	background-color: $outOfStockColor;
}

.displayNone {
	display: none;
}

// ============ Labels end =============


.cardImage {
	margin: 0px;

	img {
		width: 510px;
		width: 100%;
		object-fit: cover;
	}
}

.contentContainer {
	position: relative;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		transition: .3s ease-in-out;
		line-height: 150%;
		font: 400 18px $font-family;
	}

	p {
		line-height: 150%;
		font: 500 16px $font-family;
	}

	span {
		margin: 19px 0 0 0;
	}
}

.cardBtnsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 0px;
	bottom: 12px;
	height: 285px;

}

.cardBtns {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin: 0 0 37px 0;

	.like,
	.eye {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 45px;
		width: 100%;
		height: 45px;
		border-radius: 50%;
		background-color: $greyColor;
		margin: 0 0 10px 0;
		transition: .3s ease-in-out;

		&:hover {
			border: none;
			background-color: $primaryColor;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}

	// .like {}

	.bag {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		max-width: 370px;
		width: 100%;
		height: 45px;
		background-color: $greyColor;
		transition: background .3s ease-in-out;
		border-radius: 20px;
		font: 600 14px $font-family;
		color: #000000;

		&:hover {
			border: none;
			background-color: $primaryColor;

			color: $whiteColor;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}

	// .eye {	}

}


.cardBtnsLast {

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $greyColor;
		transition: .3s ease-in-out;

		&:hover {
			border: none;
			background-color: $primaryColor;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}

}