<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Draft page</title>
</head>

<body>


	<div class="card-medium">
		<div class="img">
			<img src="../../public/assets/images/green_apples.png" alt="green apples">
		</div>
		<div class="content">
			<div class="content-main">
				<h2>Green Apples</h2>
				<p>$14.98</p>
				<!-- star rating here <====== -->
			</div>
			<div class="content-btns">
				<a href="#" class="card-info-btn">
					<img src="../../public/assets/icons/bag-white.svg" alt="buy button">
				</a>
				<a href="#" class="card-info-btn">
					<img src="../../public/assets/icons/heart-white.svg" alt="like button">
				</a>
				<a href="#" class="card-info-btn">
					<img src="../../public/assets/icons/eye-white.svg" alt="show button">
				</a>
			</div>
		</div>
	</div>




</body>

</html>