<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>



	<a href="#" class="slm-card-info-bag">
		<img src="/public/assets/icons/bag.svg" alt="bag button">
	</a>

	<a href="#" class="slm-card-info-eye">
		<img src="/public/assets/icons/eye.svg" alt="eye button">
	</a>

	<a href="#" class="slm-card-info-heart">
		<img src="/public/assets/icons/heart.svg" alt="heart button">
	</a>











</body>

</html>