<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>


	<div class="card">
		<div class="image">
			<img src="#" alt="name">
		</div>

		<div class="cardFooter">

			<div class="cardInfo">
				<div class="title">
					<h3>title</h3>

					<p>Price</p>
					<!-- put rating here <----   -->
				</div>
			</div>

			<div class="buyBtn">
				<a href="#" class="${cardStyles.cardInfoBtn}">
					<img src="/assets/icons/eye.svg" alt="eye button">
				</a>
			</div>

		</div>

		<div class="cardInfoHover">
			<a href="#" class="${cardStyles.cardInfoBtn}">
				<img src="/assets/icons/eye.svg" alt="eye button">
			</a>
			<a href="#" class="${cardStyles.cardInfoBtn}">
				<img src="/assets/icons/heart.svg" alt="heart button">
			</a>
		</div>
	</div>












</body>

</html>