@import '../../../css/variables/variables.scss';

.bottomBarContainer {
	max-width: 1320px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px auto;
	align-items: center;
	gap: 20px;
	min-height: 55px;
	background-color: $greyColor;
	padding: 0 10px;
}


@media (max-width: 767px) {
	.bottomBarContainer {
		display: none;
	}
}