@import '../../css/variables/variables.scss';

@keyframes scale {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(1.1);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}

}


.topBarContainer,
.middleBarContainer,
.bottomBarContainer {
	max-width: 1320px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px 10px;
	margin: 0px auto;
	align-items: center;
}


// Top bar =======
.topBarLocation {
	a {
		display: flex;
		align-items: center;
		gap: 8px;
		font: 300 12px $font-family;
		color: #FFFFFF;
	}
}

.topBarLanguage {
	display: flex;
	gap: 20px;
}

@media (max-width: 700px) {

	.topBarLocation,
	.topBarLanguage {
		flex-direction: column;
	}
}



// Middle bar ======
.middleBarContainer {
	gap: 20px;
	padding: 24px 10px;

}

.middleBarLogo {

	a {
		display: flex;
		gap: 8px;
		align-items: center;
		transition: .3s ease-in-out;

		img {
			width: 32px;
			height: 32px;
			overflow: hidden;
			object-fit: cover;
		}

		h1 {
			color: $headerLogoTitleColor;
			font: 500 32px $font-family;
		}

		&:hover {
			animation: scale 1s;
		}
	}
}

.middleBarNav {
	display: flex;
	gap: 16px;

	>div:first-of-type {
		&:hover {
			animation: scale 1s;
		}
	}
}

.middleBarBasket {
	display: flex;
	gap: 12px;
	border-left: 1px solid #CCCCCC;
	height: 33px;
	padding: 0 0 0 16px;

	&:hover {

		div:first-child {
			p {
				animation: scale 1s;
			}
		}
	}
}

// Bottom bar =======
.bottomBarContainer {
	gap: 20px;
	min-height: 55px;
	background-color: $greyColor;
	padding: 0 10px;
}

.bottomBarBurger {
	max-width: 64px;
	width: 100%;
	min-height: 56px;
	background-color: $primaryColor;

	span {
		display: block;
		width: 20px;
		height: 1.5px;
		background-color: #FFFFFF;
		border-radius: 10px;
		margin: 32px auto;
	}
}