@import '../css/variables/variables.scss';

// ====== Timer styles ==========
.timerStyles {
	display: flex;

	div {
		max-width: 60px;
		width: 100%;
		min-height: 37px;
		text-align: center;
		// border: 1px solid red;

		p {
			font: 500 18px $font-family;
		}

		span {
			font: 500 10px $font-family;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $secondGreyColor;
		}
	}
}

// ===========================