@import '../../../../css/variables/variables.scss';


.topBarContainer,
.middleBarContainer {
	max-width: 1320px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px 10px;
	margin: 0px auto;

}


// Top bar =======
.topBarLocation {
	display: flex;
	align-items: center;
	gap: 8px;
	font: 300 12px $font-family;
}

.topBarLanguage {
	display: flex;
	gap: 20px;
}

@media (max-width: 700px) {

	.topBarLocation,
	.topBarLanguage {
		flex-direction: column;
	}
}



// Middle bar ======
.logoContainer {

	a {
		display: flex;
		gap: 8px;
		align-items: center;
		transition: .3s ease-in-out;

		img {
			width: 32px;
			height: 32px;
			overflow: hidden;
			object-fit: cover;
		}

		h1 {
			color: $headerLogoTitleColor;
			font: 500 32px $font-family;
		}

		&:hover {
			scale: 1.1;
		}
	}
}

.currency {
	display: flex;
	gap: 12px;
}