.main {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 55px;
	height: 55px;
	background-color: grey;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform .6s cubic-bezier(.2, .64, .48, 1.24);
}