@import '../css/variables/variables.scss';

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin: 10px;
}

.input {
	border: 1px solid $greyColor;
	border-radius: 6px;
	height: 49px;
	padding: 14px 16px;
	color: $secondGreyColor;
	font: 400 16px $font-family;

	&::placeholder {
		color: $secondGreyColor;
	}
}

.invalidInput {
	border: 1px solid $dangerColor;
}

.validInput {
	border: 1px solid $primaryColor;
}

.inputInfo {
	font: 500 14px $font-family;
}