@import '../css/variables/variables.scss';

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.select {
	border: 1px solid $greyColor;
	border-radius: 6px;
	height: 49px;
	padding: 8px 40px 8px 16px;
	color: $inputGrey;
	font: 400 16px $font-family;
	transition: .3s ease-in-out;

	appearance: none;
	background: url('assets/icons/inputs/select-arrow.svg') no-repeat right;
	background-position-x: calc(100% - 16px);

	&::placeholder {
		color: $inputGrey;
	}
}

.inputInfo {
	font: 500 14px $font-family;
	transition: .3s ease-in-out;
}

.inputIcon {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 20px;
	height: 20px;
}