@import '../css/variables/variables.scss';

.inputContainer {
	background-color: $greyColor;
	margin: 10px;
}

.input {
	border: 1px solid $greyColor;
	border-radius: 6px;
	height: 49px;
	padding: 14px 16px;
	color: $secondGreyColor;
	font: 400 16px $font-family;

	&::placeholder {
		color: $secondGreyColor;
	}
}

.invalidInput {
	border: 2px solid $dangerColor;
}

.validInput {
	border: 2px solid $primaryColor;
}