@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './null_styles.scss';

$softPrimaryColor: #84D187;
$primaryColor: #00B207;
$hardPrimaryColor: #2C742F;
$warningColor: #FF8A00;
$starRatingColor: #FF8A00;
$dangerColor: #EA4B48;
$inputTextColor: #000000;
$whiteColor: #FFFFFF;
$greyColor: #F1F1F1;
$secondGreyColor: #999999;
$inputGrey: #4D4D4D;
$saleColor: #EA4B48;
$newItemColor: #FF8A00;
$bestSaleColor: #2388FF;
$outOfStockColor: #1A1A1A;


$font-family: Poppins;