@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './null_styles.scss';

$softPrimaryColor: #84D187;
$primaryColor: #00B207;
$hardPrimaryColor: #2C742F;
$warningColor: #FF8A00;
$dangerColor: #EA4B48;
$whiteColor: #FFFFFF;


$font-family: Poppins;